<div data-ng-controller="AuthController">
    <div class="alert alert-danger animated fadeIn" ng-show="errors.message">{{errors.message}}</div>
    <div class="alert alert-success animated fadeIn" ng-show="message">{{message}}</div>
    <h1>Forgot Password</h1>
    <form class="form-horizontal" ng-submit="forgotPassword();">
        <p>
            Enter your account email address and we'll send you
            instructions on how to reset your password.
        <p>
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>
            <div class="col-md-8">
                <input ng-model="user.email" class="form-control" type="text" name="email" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
                or&nbsp;<a ui-sref='auth.login' class="show-signup">Sign in</a>
            </div>
        </div>
    </form>
</div>
