<div data-ng-controller="AuthController">
    <div class="alert alert-danger animated fadeIn" ng-show="errors.message">{{errors.message}}</div>
    <div class="alert alert-success animated fadeIn" ng-show="message">{{message}}</div>
    <h1>Reset Password</h1>
    <form class="form-horizontal" ng-submit="resetPassword();">
        <div class="form-group" ng-class="{'has-feedback has-error': errors.password}">
            <label class="col-md-4 control-label" for="password">New Password</label>
            <div class="col-md-8">
                <input id="password" type="password" name="password" placeholder="Password" class="form-control" ng-model="user.password"/>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="errors.password"></span>
                <span class="help-block" ng-show="errors.password">{{errors.password.message}}</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-feedback has-error': errors.confirm_password}">
            <label class="col-md-4 control-label" for="password">Confirm Password</label>
            <div class="col-md-8">
                <input id="confirm_password" type="password" name="confirm_password" placeholder="Password" class="form-control" ng-model="user.confirm_password"/>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="errors.confirm_password"></span>
                <span class="help-block" ng-show="errors.confirm_password">{{errors.confirm_password.message}}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
                or&nbsp;<a ui-sref='auth.login' class="show-signup">Sign in</a>
            </div>
        </div>
    </form>
</div>
